/*  Most of the lines of code was adapted from https://www.youtube.com/watch?v=M_jAoZULcmk Accessed: 2025-01-19  */
/*  Most of the lines of code was adapted from https://www.youtube.com/watch?v=ixZCLT9Xgnw Accessed: 2025-01-19 */

/* fonts for the texts*/
.orbitron-heading {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.orbitron-h2 {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.dm-sans-normal {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.orbitron-normal {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
  padding-left: 10px;
}

/* background color of the body */
body {
  background-color: #cac9c9;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh; /* line 43 of code was adapted from https://www.shecodes.io/athena/4773-what-is-the-meaning-of-min-height-100vh-in-css#google_vignette Accessed: 2025-01-31 */
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center; /* <!-- line 45 of code was adapted from https://chatgpt.com/share/678d02b0-4450-800a-b76c-daea2bd12055 Accessed: 2025-01-19 --> */
  padding: 10px 20px;
  position: fixed; /* <!-- line 47 of code was adapted from https://chatgpt.com/share/678d02b0-4450-800a-b76c-daea2bd12055 Accessed: 2025-01-19 --> */
  width: 100%;
  background-color: #eae7e7;
  border-bottom: 1px solid black;
  z-index: 1; /* line 55 of code was adapted from https://www.w3schools.com/cssref/pr_pos_z-index.php Accessed: 2025-01-31 */
}

header h1.orbitron-heading {
  margin-right: 0;
}

nav {
  display: flex;
}

/* header links */
ul {
  list-style: none;
  margin-right: 2rem;
  padding: 0;
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: #5a5a5a;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: white;
}

/* Main  */

main {
  margin-top: 8rem;
  padding-left: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.intro {
  padding: 0;
  width: 50%;
  max-width: 200vh;
}

.skills {
  margin-top: 40px;
}

.skills-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  text-align: center;
}

/* images */
.main-img {
  padding: 0px;
  width: 50%;
}

/* footer */
footer {
  margin-top: auto;
  padding: 20px 10px;
  text-align: left;
  border-top: 1px solid black;
  background-color: white;
}

/* responsive design smaller screen */

/* responisve design code was adapted and inspired from https://www.youtube.com/watch?v=yvqDrz2D_K8 Accessed: 2025-01-31 */
@media screen and (max-width: 830px) {
  main {
    grid-template-columns: 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .intro {
    width: 50%;
    padding: 10px;
  }

  .skills-list {
    width: 80%;
    text-align: left;
  }
}

/* min size for a screen */
@media screen and (min-width: 455px) {
  main {
    grid-template-columns: 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .intro {
    width: 50%;
    padding: 10px;
  }

  .skills-list {
    width: 80%;
    text-align: left;
  }
}
