/* fonts for the texts*/
.orbitron-heading {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.orbitron-h2 {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.dm-sans-normal {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.dm-sans-thick {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.orbitron-normal {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
  padding-left: 10px;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* background color of the body */
body {
  background-color: #cac9c9;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center; /* line 45 of code was adapted from https://chatgpt.com/share/678d02b0-4450-800a-b76c-daea2bd12055 Accessed: 2025-01-19 */
  padding: 10px 20px;
  position: fixed; /*  line 47 of code was adapted from https://chatgpt.com/share/678d02b0-4450-800a-b76c-daea2bd12055 Accessed: 2025-01-19 */
  width: 100%;
  background-color: #eae7e7;
  border-bottom: 1px solid black;
  z-index: 1; /* line 65 of code was adapted from https://www.w3schools.com/cssref/pr_pos_z-index.php Accessed: 2025-01-31 */
}

header h1.orbitron-heading {
  margin-right: 0;
}

nav {
  display: flex;
}

/* header links */
ul {
  list-style: none;
  margin-right: 2rem;
  padding: 0;
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: #5a5a5a;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: white;
}

/* main image at the top (hero) & text  */
.hero {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 10px;
  /* padding-left: 0;
  padding-top: 5rem; */
  height: 100vh;
  text-align: center;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* line 115 of code was adapted from https://www.w3schools.com/cssref/pr_pos_z-index.php Accessed: 2025-01-31 */
}

.hero .content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  z-index: 1; /* line 123 of code was adapted from https://www.w3schools.com/cssref/pr_pos_z-index.php Accessed: 2025-01-31 */
  text-align: left;
  /* padding-left: 20px;
  padding-right: 20px; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero h1 {
  margin: 0;
  color: #8eeb0c;
  font-size: 4vh;
  animation: fadeIn 1.5s ease-in-out;
}

.hero #button {
  background-color: rgb(185, 13, 13);
  color: #ffffff;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 30px;
  font-size: 1.2rem;
  width: fit-content;
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
}

.hero #button:hover {
  background-color: rgb(174, 170, 170);
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.archive {
  display: grid;
  padding: 20px;
  padding-top: 70px;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* line 153 of code was adapted from https://www.youtube.com/watch?v=S7zxHn6qhQA Accessed: 2025-01-31 */
  gap: 20px;
  animation: slideIn 1s ease-in-out forwards;
}

.artwork {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.artwork img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.artwork .description {
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 1rem;
}
.artwork #button {
  background-color: rgb(190, 96, 96);
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
}

.artwork #button:hover {
  background-color: black;
}

/* footer */
footer {
  margin-top: auto;
  padding: 20px 10px;
  text-align: left;
  border-top: 1px solid black;
  background-color: white;
}

/* responsive design smaller screen */

@media screen and (max-width: 830px) {
  .hero {
    height: 70vh;
  }

  .hero .content {
    gap: 1.2rem;
  }
  .hero #button {
    padding: 10px 20px;
    font-size: 0.7rem;
  }
  .hero h1 {
    font-size: 4vh;
  }
}

/* min size for a screen */
@media screen and (min-width: 455px) {
  .hero {
    height: 50vh;
  }

  .hero #button {
    padding: 5px 20px;
    font-size: 0.5rem;
  }
  .hero h1 {
    font-size: 3vh;
  }
}
