/* fonts for the texts*/
.orbitron-heading {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.orbitron-h2 {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.dm-sans-normal {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.dm-sans-thick {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.orbitron-normal {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
  padding-left: 10px;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* background color of the body */
body {
  background-color: #cac9c9;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center; /* <!-- line 45 of code was adapted from https://chatgpt.com/share/678d02b0-4450-800a-b76c-daea2bd12055 Accessed: 2025-01-19 --> */
  padding: 10px 20px;
  position: fixed; /* <!-- line 47 of code was adapted from https://chatgpt.com/share/678d02b0-4450-800a-b76c-daea2bd12055 Accessed: 2025-01-19 --> */
  width: 100%;
  background-color: #eae7e7;
  border-bottom: 1px solid black;
  z-index: 1000;
}

header h1.orbitron-heading {
  margin-right: 0;
}

nav {
  display: flex;
}

/* header links */
ul {
  list-style: none;
  margin-right: 2rem;
  padding: 0;
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: #5a5a5a;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: white;
}

/* main image at the top (hero) & text  */
.hero {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 10px;
  padding-left: 0;
  padding-top: 0;
  height: 100vh;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero .content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: left;
  z-index: 1;
  text-align: left;
  /* padding-left: 20px;
  padding-right: 20px; */
}
.hero h1 {
  margin-bottom: 2rem;
  color: #8eeb0c;
  font-size: 36px;
}

.hero #button {
  background-color: rgb(185, 13, 13);
  color: #ffffff;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 30px;
  width: fit-content;
}

.hero #button:hover {
  background-color: rgb(174, 170, 170);
}

/* main {
  margin-top: 20rem;
} */

.archive {
  display: grid;
  padding: 20px;
  padding-top: 70px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.artwork {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.artwork img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.artwork .description {
  margin-bottom: 10px;
}
.artwork #button {
  background-color: rgb(190, 96, 96);
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 20px;
}

.artwork #button:hover {
  background-color: black;
}

/* footer */
footer {
  margin-top: auto;
  padding: 20px 10px;
  text-align: left;
  border-top: 1px solid black;
  background-color: white;
}

/* responsive design smaller screen */

@media screen and (max-width: 830px) {
  .hero {
    height: 50vh;
    position: relative;
  }
  .hero img {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .hero .content {
    display: grid;
    place-items: center;
    gap: 20px;
    height: 100%;
  }
  .hero #button {
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
  }
  .hero h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
}
