/* fonts for the texts*/
.orbitron-heading {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.orbitron-h2 {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.dm-sans-normal {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.orbitron-normal {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
  padding-left: 10px;
}

/* background color of the body */
body {
  background-color: #eae7e7;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: relative;
  border-bottom: 1px solid black;
}

/* header links */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  margin-right: 20px;
}

nav a {
  color: blueviolet;
}

main {
  margin-top: 50px;
  padding-left: 10px;
}

/* images */
.main-img {
  padding: 0px;
  width: 50%;
}

/* .second-img {
  padding: 0px;
  width: 60%;
} */

/* Contact info */
figure {
  margin-left: 0;
}

/* footer */
footer {
  /* margin-top: 300px; */
  padding-bottom: 20px;
  padding-left: 10px;
  text-align: left;
  border-top: 1px solid black;
  background-color: white;
}
