/* fonts for the texts*/
.orbitron-heading {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.orbitron-h2 {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.dm-sans-normal {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.dm-sans-thick {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.orbitron-normal {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
  padding-left: 10px;
}

body {
  background-color: #cac9c9;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center; /* <!-- line 45 of code was adapted from https://chatgpt.com/share/678d02b0-4450-800a-b76c-daea2bd12055 Accessed: 2025-01-19 --> */
  padding: 10px 20px;
  position: fixed; /* <!-- line 47 of code was adapted from https://chatgpt.com/share/678d02b0-4450-800a-b76c-daea2bd12055 Accessed: 2025-01-19 --> */
  width: 100%;
  background-color: #eae7e7;
  border-bottom: 1px solid black;
  z-index: 1000;
}

header h1.orbitron-heading {
  margin-right: 0;
}

nav {
  display: flex;
}

/* header links */
ul {
  list-style: none;
  margin-right: 2rem;
  padding: 0;
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: #5a5a5a;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: white;
}

/* main */

main {
  margin-top: 10%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#text-up {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 70px;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
}

.image-left {
  grid-column: 2;
}

.image.right {
  grid-column: 1;
}

.content #text-right {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.content #text-left {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
}

/* footer */
footer {
  margin-top: auto;
  padding: 20px 10px;
  text-align: left;
  border-top: 1px solid black;
  background-color: white;
}
